[Unit]
Description=Vertretungsplan Manager

[Service]
ExecStart=/home/ec2-user/VPMan/index.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/myapp

[Install]
WantedBy=multi-user.target
